# Local files
.env
/outputs
/data

# Python
__pycache__/
*.py[cod]
*$py.class

# Testing and Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
.pytest_cache/
.mypy_cache/

# UV
.venv/

# Ruff
.ruff_cache/

# W&B
wandb/

# Images
*.png
*.jpg
*.jpeg
*.gif
